* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #333;
}

.container {
    display: grid;
    min-height: 100vh;

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header header"
        "menu main lateral"
        "footer footer footer";
}

header {
    grid-area: header;
    background: #0077cc;
    color: white;
    padding: 20px;
}

aside {
    grid-area: menu;
    background: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
}

main {
    grid-area: main;
    padding: 30px;
    background: #ffffff;
}

.lateral {
    grid-area: lateral;
    background: #ffffff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

footer {
    grid-area: footer;
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 15px;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    color: #005fa3;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

header a {
    color: white;
}

header a:hover {
    color: #cce6ff; 
}

p{
    margin-bottom: 5px;
}

.botao-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background: #0077cc;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.botao-topo:hover {
    background: #005fa3;
}
